<%= image_tag "bwjulia.jpg", height: 250, width: 360 %>
<%= image_tag 'moodylab.JPG', height: 250, width: 360%>
<%= image_tag 'unclesam.JPG', height: 250, width: 360%>
<div>
<%= image_tag "6.26 show poster.jpg", height: 750, width: 500 %>
<%= image_tag "4.17 show poster.jpg", height: 750, width: 500 %>
</div>
<%= image_tag "DSC_0337.JPG",height: 250, width: 360 %>
<%= image_tag "bwyoussef.jpg",height: 250, width: 360 %>
<%= image_tag "DSC_0369.JPG",height: 250, width: 360 %>
<%= image_tag "6.3 poster.JPG", height: 520, width: 750%>
<%= image_tag "11.20 show poster.jpg", height: 520, width: 360%>
