<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Length:</strong>
  <%= @song.length %>
</p>

<p>
  <strong>Date written:</strong>
  <%= @song.date_written %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @song.credits %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
