<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :showdate %><br>
    <%= f.date_select :showdate %>
  </div>
  <div class="field">
    <%= f.label :other_acts %><br>
    <%= f.text_field :other_acts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
